<!--This is the inheritance mentioned earlier. 
    When Nunjucks goes to render index, 
    it will automatically embed that template inside the layout template 
    (at the {% block content %} tag) 
    and render both as a single file. 
    Other pages will also be able to extend layout in this fashion, 
    meaning we only have to worry about each page's unique content.-->
    {% extends "layout.html" %}

    {% block content %}
    
      <div class="page-header">
        <h1>Welcome to Twitter.js!</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
          <b>Your Name</b><br>
          100 followers
          {% if showForm %}
            <form action="/tweets" method="POST">
              <label for="name_field">Name:</label>
              <input name="name" type="text" id="name_field" value="{{ username }}"/>
    
              <label for="text_field">Text:</label>
              <input name="text" type="text" id="text_field" />
    
              <input type="submit" value="Submit" />
            </form>
          {% endif %}
        </div>
        <div class="col-md-9">
    
          <!-- display tweets here -->
          <div id="tweets">
          {% for tweet in tweets %}
            <div class="tweetbox">
              <img>
              <div class="content">
                <p class="by"><a href="/users/{{tweet.name}}">{{tweet.name}}</a></p>
                <p><a href="/tweets/{{tweet.id}}">{{tweet.text}}</a></p>
              </div>
            </div>
          {% endfor %}
          </div>
    
        </div>
      </div>
    
    {% endblock %}

<!-- <h1>{{ title }}</h1>
<p>This is a bare-bones template.</p>
<ul>
{% for person in people %}
  <li>{{ person.name }}</li>
{% endfor %}
</ul> -->